* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #53697a;
  font-family: 'Roboto', sans-serif;
}

.main-container {
  display: flex;
}

.flyer-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.flyer {
  width: 80%;
  margin-bottom: 50px;
  margin-top: 50px;
}

#mc_embed_shell {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mc_embed_signup {
  background: #53697a;
  color: white;
  clear: left;
  font: 18px Helvetica, Arial, sans-serif;
  width: 80%;
}

footer {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #1f2937;
}

.copyright {
  color: white;
  margin: 0;
  padding: 40px 0;
}
